.button {
  border: none;
  cursor: pointer;
  color: var(--general-white-color);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 18px 36px;
  border-radius: 50px;
  background-color: var(--accent-yellow-color);
  transition: background-color 0.3s ease 0s;
}

.button:hover {
  background-color: #e06c6c;
}
