.form {
}

.header__form{
  position: relative;
  width: 40%;
  display: none;
}

.header__result{
  z-index: 2;
  position: absolute;
  padding: 30px;
  width: 150%;
  /* height: 100px; */
  background-color: var(--general-white-color);
  left: -30%;
  top: 60px;
  border-radius: 20px;
  /* overflow: hidden;
  overflow-y: scroll; */
}

.result__content{
  
}

.result__products{
  display: flex;
  flex-direction: column;
  
}

.result__product{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.product__button{
  width: 48px;
  height: 48px;
  padding: 12px;
  border-radius: 50%;
}

.product__button svg{
  width: 24px;
  height: 24px;
}

/* .header__result::-webkit-scrollbar {
  margin-right: -30px;
  width: 10px;
  background-color: #f9f9fd;
}

.header__result::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--accent-yellow-color);
}

.header__result::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
} */

/*========ACTIVE CLASS=======*/
.active-form{
  display: block;
}

.label {
}

.input {
  outline: 0
}

.main-form {
  display: flex;
  /* width: 100%; */
  border: 2px solid var(--text-main-color);
  padding: 5px 5px;
  justify-content: space-between;
  border-radius: 20px;
  overflow: hidden;
}

.main-form__label {
}

.main-form__input {
  padding: 0;
  border: none;
  width: 100%;
  outline: none;
  background-color: transparent;
  /* text-decoration: none;
  color: var(--text-main-color);
  font-size: 18px;
  font-weight: 400;
  line-height: normal; */
}

.main-form__button {
  border: none;
  background-color: transparent;
}

.main-form__svg {
  max-width: 24px;
  max-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
}
