.wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper__button {
  display: none;
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 100;
  transform: rotate(270deg);
}

.main {
  flex: 1 1 auto;
}
