:root {
  --text-main-color: #1d1f23;
  --secondary-text-color: #1d1f23b2;
  --general-white-color: #ffffff;
  --accent-yellow-color: #f6973f;
  --accent-pink-color: #ef4358;
  --bg-main-color: #fafafa;
  --bg-secondary-color: #19191b;
  --bg-third-color: #eeeeee;
  --arrow-color: #1e1e1e;
  --line-color: #393B3F;

  --main-size: 18px;
  --max-width: 1200px;
  --padding-main: 120px;
  --unit: 50px;
  --block-space: 50px;
}

@media (max-width: 1200px) {
  :root {
    --padding-main: 80px;
    /*--unit: 50px;*/
    /*--block-space: 50px;*/
  }
}

@media (max-width: 1024px) {
  :root {
    --padding-main: 60px;
    /*--unit: 50px;*/
    --block-space: 40px;
  }
}

@media (max-width: 991.98px) {
  :root {
    --padding-main: 24px;
    /*--unit: 50px;*/
    --block-space: 35px;
  }
}

@media (max-width: 767.98px) {
  :root {
    --padding-main: 16px;
    /*--unit: 50px;*/
    --block-space: 25px;
  }
}

@media (max-width: 479.98px) {
  :root {
    --main-size: 14px;
    /*--unit: 50px;*/
    --block-space: 15px;
  }
}
