.collections {
  padding: var(--block-space) 0;
}

.collections__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collections__title {
  max-width: 720px;
  text-align: center;
  margin-bottom: 10px;
}

.collections__subtitle {
  color: var(--secondary-text-color);
  max-width: 535px;
  text-align: center;
  line-height: normal;
  margin-bottom: 60px;
}

/*======================================*/

.collections__menu {
  background-color: var(--bg-third-color);
  border-radius: 45px;
  padding: 5px;
  display: flex;
  margin-bottom: 100px;
}

.collections__link{
  color: var(--text-main-color);
}

.collections__menu-button {
  padding: 10px 25px;
  border-radius: 50px;
}

.collections__menu-button:hover {
  transition: background-color 0.6s;
  background-color: var(--text-main-color);
  color: var(--general-white-color);
}

/*======================================*/

.collections__cards {
  width: 100%;
}

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
  /*.card {*/
  /*  display: flex;*/
  /*  flex-direction: column;*/
  /*  flex: 0 0 48%;*/
  /*  padding-bottom: 58px;*/
  /*}*/
}

@media (max-width: 479.98px) {
}
