.shopping {
  margin-top: -165px;
  padding: var(--block-space) 0;
}

.shopping__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.shopping__content {
  width: 50%;
}

.shopping__descriptions {
  margin-bottom: var(--unit);
}

.descriptions {
  display: flex;
  flex-wrap: wrap;
  column-gap: 75px;
  row-gap: 55px;
}

.descriptions__item {
  flex: 0 1 235px;
  line-height: 1.5;
}

.descriptions__svg {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.descriptions__svg--package {
  color: #98f3fd;
}
.descriptions__svg--loader {
  color: #c5e2ac;
}
.descriptions__svg--user {
  color: #e4a9b7;
}
.descriptions__svg--target {
  color: #73cab2;
}

.description__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
}

.descriptions__subtitle {
  color: var(--secondary-text-color);
  font-size: 18px;
  font-weight: 400;
}

.shopping__button {
  background-color: var(--accent-pink-color);
  padding: 20px 30px;
}

.shopping__button:hover {
  background-color: var(--accent-yellow-color);
}

.shopping__img {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.shopping__img img {
  /*text-align: right;*/
  /*width: 100%;*/
}
