.top-section {
  padding-top: calc(var(--block-space) * 3 + 45px);
  background: url("../../images/jpg/main-backgroundImage.jpg");
  background-size: cover;
  background-position: center;
  /*min-height: 100vh;*/
  padding-bottom: 242px;
}

.top-section__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-section__title {
  max-width: 645px;
  text-align: center;
  line-height: 60px;
  margin-bottom: 10px;
}

.top-section__title span {
  color: var(--accent-yellow-color);
}

.top-section__subtitle {
  text-align: center;
  color: var(--text-main-color);
  line-height: normal;
  max-width: 405px;
  margin-bottom: 22px;
}

.top-section__button {
  padding: 18px 36px;
}

@media (max-width: 1200px) {
  .top-section__title {
    line-height: normal;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 479.98px) {
}
